@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ios-bg: hsl(220 20% 98%); /* #F9F9FB */
    --ios-panel: hsl(0 0% 100%); /* #FFFFFF */
    --ios-panel-contrast: hsl(0 0% 94.1%); /* #F0F0F0 */
    --ios-blue: hsl(214 100% 52.9%); /* #0A84FF */
    --ios-border: hsl(240 5.9% 90%); /* #E5E5EA */
    --ios-text-primary: hsl(0 0% 0%); /* #000000 */
    --ios-text-secondary: hsl(240 1.2% 54.5%); /* #8A8A8E */
    --ios-green: hsl(145 63.4% 49.2%); /* #34C759 */
    --ios-orange: hsl(36 100% 50%); /* #FF9500 */
  }
 
  .dark {
    --ios-bg: hsl(0 0% 0%); /* #000000 */
    --ios-panel: hsl(240 2.2% 11%); /* #1C1C1E */
    --ios-panel-contrast: hsl(240 2.1% 17.3%); /* #2C2C2E */
    --ios-border: hsl(240 1.9% 22%); /* #38383A */
    --ios-text-primary: hsl(0 0% 100%); /* #FFFFFF */
    --ios-text-secondary: hsl(240 1.1% 56.7%); /* #8D8D93 */
  }

  * {
    border-color: var(--ios-border);
  }
  
  body {
    background-color: var(--ios-bg);
    color: var(--ios-text-primary);
    @apply transition-colors duration-300;
  }
}
